{% extends "network/layout.html" %}

{% block body %}

{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form1.as_p }}
    <button type="submit">Post</button>
</form>

{% for page in page_obj %}
<div class="Post">
<h1>Title: {{page.post_title}}</h1>
<p>{{page.post_text}}</p>
<h6>Date: {{page.post_date}}</h6>
<h5>User: {{page.user}}</h5>
<h5>Likes: {{page.likes}}</h5>
</div>
{% endfor %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.paginator.num_pages > 0 %}
        {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
        {% endif %}
        <li>  
        <span class="pagination">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        </li>
      

        {% if page_obj.has_next %}
        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a></li>
        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a></li>

        {% endif %}
        {% else %}
        <H1> No pages to display</H1>
        {% endif %}
    </ul>
    </nav>

{% endblock %}