.post{
    align-content: center;
    align-self: flex-end;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border: 2px solid blue;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.wade_form{
    align-content: center;
    align-self: flex-end;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border: 2px solid blue;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}





.fa-heart:hover{                 /* heart hover color */
    color:rgb(127, 15, 212);
}

.fa-heart {
    --fa-primary-color: red;
}

